@import "base";

header {
    background-color: $colorh;
    color: $colorw;
    padding-bottom: 0.7em;
    nav {
        background-color: $colorh;
        .navbar-header {
            background-color: $colorh;
            .navbar-toggle {
                background-color: $colorh;
            }
        }
        #myNavbar {
            background-color: $colorh;
            li {
                color: $colorw;
                font-family: 'PT Sans', sans-serif;
            }
        }
    }
    h1 {
        @include titre;
        text-transform: uppercase;
        padding: 0.5em;
    }
    h2 {
        @include titre;
    }
    p {
        text-align: center;
        margin: 1em;
        a,
        a:hover {
            background-color: #a28f61;
            color: $colorw;
            text-transform: uppercase;
            margin: 0.5em;
            padding: 0.8em;
            border-radius: 0.4em;
            font-family: 'PT Sans', sans-serif;
            font-size: 0.7em;
            text-decoration: none;
            font-weight: bold;
        }
    }
    p:last-child {
        margin-right: 0.5em;
        text-align: right;
        margin-right: 2em;
    }
}
nav {
    h3 {
        font-family: 'Lora', serif;
        text-align: center;
        margin-top: 2em;
        margin-bottom: 1em;
    }
    section {
        box-shadow: 5px 5px 12px #555;
        margin: 1em;
        padding-right: 0;
        padding-left: 0;
        img {
            align-self: center;
        }
        .onsale {
            @include titrearticle ($coloronsale)
        }
        .buy {
            @include titrearticle ($colorbuy)
        }
        .sold {
            @include titrearticle ($colorsoldout)
        }
        .price {
            font-weight: bold;
        }
        p {
            margin: 0 0.5em;
        }
    }
}
